body {
  margin: 0;
  background-color: black;
  color: #fff;
}
.App {
  /* background-color: green; */
  margin: 40px auto;
  width: fit-content;
}
.nav-bar {
  text-align: center;
}
.nav-bar button {
  margin-right: 10px;
}
.works button {
  margin-right: 5px;
}
.all, .landing-page, .ui-design, .react-app {
  margin-top: 10px;
  text-align: center;
}
.footer {
  text-align: center;
  margin-top: 20px;
}